@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-rgb-sub: 150, 150, 150;
  --background-rgb: 255, 255, 255;
  --background-rg-sub: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-rgb-sub: 180, 180, 180;
    --background-rgb: 0, 0, 0;
    --background-rgb-sub: 10, 10, 10;
  }
}

body {
  /* font-family: 'SF Pro KR'; 주석처리 하니까 tailwind font-weight 적용된다 */

  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.button {
  padding: 4px 8px;
  border-radius: 16px;
  cursor: pointer;
}

.button:hover {
  scale: 1.05;
  transition: all 0.4s;
}

.opposite {
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
}

.redBox {
  color: white;
  background: red;
}

.subText {
  color: rgb(var(--foreground-rgb-sub));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SF Pro KR';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SFProKRDisplay_bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SF Pro KR';
  font-style: normal;
  font-weight: medium;
  src: url('/fonts/SFProKRDisplay_medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SF Pro KR';
  font-style: regular;
  font-weight: bold;
  src: url('/fonts/SFProKRDisplay_regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SF Pro KR';
  font-style: normal;
  font-weight: semibold;
  src: url('/fonts/SFProKRDisplay_semibold.woff2') format('woff2');
}
